nav a {
  text-decoration: none;
}
.nav-container {
  margin: 1em 10%;
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
}

a {
  background-color: black;
  color: white;
  padding: 0.5em;
  font-size: medium;
  border-radius: 0.5em;
  flex: 1 1 0;
  text-align: center;
}
